.App {
  text-align: center;
}

.App h1 {
  color: black;
  font-family: OCR A Std, monospace;
  text-shadow: 3px 3px 5px rgb(241, 244, 242);
  font-size: 45px;
}

body {
  background-image: url(/pokedex.jpg);
}

.li {
  background-color: #c8c6d3;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px  black;
  display: inline-block;
  list-style: none;
  margin: 30px;
  padding: 30px;
  transition: 1s;
}

li:hover {
  background-color: gray;
  padding: 50px;
  transition: 1s;
}
